* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: 'JetBrains_Mono_VariableFont' ;
    src: url(../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'JetBrains_Mono_Bold' ;
    src: url(../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf);
  }
  
  body {
    font-family: 'JetBrains_Mono_VariableFont', sans-serif;
  }
  
  .bg-gradient{
    background:linear-gradient(200deg,#72b5f8,rgb(7, 195, 195));
    background-size:500% 500%;
    -webkit-animation:ServiceAnimation 10s ease infinite;
    animation:ServiceAnimation 10s ease infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
  }
  @-webkit-keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  @keyframes ServiceAnimation{0%
    {background-position:90% 0}50%
    {background-position:10% 100%}100%
    {background-position:90% 0}
  }
  
  ::-webkit-scrollbar {
    width: 9px;
    overflow-x: none;
  }
  ::-webkit-scrollbar-track {
    border-radius: 1px;
    background: #e7e8ee;
    margin-block: 0.5px;
  }
  ::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 1px;
  }
  ::-webkit-scrollbar-track-piece {
    background: white;
    border-radius: 0.5px;
  }
  ::-webkit-scrollbar-track-piece:start {
    background: black;
    border-radius: 1px;
  }
  
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}


*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  height: auto;
  order: 2;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.0, 0.0, 1.0, 1.0);
}

.image-container {
  position: relative;
  margin: 10px;
}
.logo-image {
  height: 35px;
  width: 35px;
  object-fit: cover;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  margin-top: -40px;
  font-size: 13px;
  background: #ffffff;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.0, 0.0, 1.0, 1.0);
  text-align: center;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.25s cubic-bezier(0.0, 0.0, 1.0, 1.0);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .vk:hover,
.wrapper .vk:hover .tooltip,
.wrapper .vk:hover .tooltip::before {
  background: #2787f5;
  color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background: #40b3e0;
  color: #ffffff;
}

.wrapper .unsplash:hover,
.wrapper .unsplash:hover .tooltip,
.wrapper .unsplash:hover .tooltip::before {
  background: #000000;
  color: #ffffff;
}



.ex {
    font-size: 25px;
}


.container-calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    order: 1;
  }

.calendar {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
  }
  .calendar__header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    letter-spacing: 3px;
    padding: 5px 15px;
    text-transform: uppercase;
  }
  .calendar__day-names {
    border-bottom: 2px solid #000000;
    display: flex;
    gap: 1px;
  }
  .calendar__day-name {
    aspect-ratio: 1;
    color: #000000;
    font-weight: normal;
    text-align: center;
    width: 39px;
  }
  .calendar__day_numbers {
    display: flex;
    flex-direction: column;
  }
  .calendar__day-numbers-row {
    display: flex;
    gap: 5px;
    padding: 5px;
  }
  .calendar__day-numbers-row:first-child {
    justify-content: flex-end;
  }
  .calendar__day-number {
    align-content: center;
    justify-content: center;
    aspect-ratio: 1;
    color: #000;
    display: flex;
    line-height: 2;
    text-align: center;
    width: 35px;
  }
  .calendar__day-number--current {
    background-color: #020202;
    border-radius: 50%;
    color: #c9fb00;
  }